<div id="contact" class="container" style="text-align: center;">
  <section class="section">
    <div class="row">
      <div class="col-xs-24">
        <h2>Contact</h2>
        <p>Get in touch to discuss how we can help.</p>
        <br />
      </div>
    </div>
    <div class="row">
      <div class="col-xs-24 type-t6">
          <span class="glyph glyph-mail" aria-hidden="true"></span>
          <span>
            <a href="mailto:email@internet.com">email@internet.com</a>
          </span>
      </div>
    </div>
    <div class="row">
        <div class="col-xs-24 type-t6">
            <span class="glyph glyph-phone" aria-hidden="true"></span>
            <span>+4470000000</span>
        </div>
      </div>
  </section>
</div>