<nav class="navbar navbar-default">
  <div class="navbar-global theme-default">
    <div class="container">
      <div class="navbar-header">
        <a href="/" class="navbar-brand">
            <img src="assets/img/logo.png" alt="Microsoft" height="23">
        </a>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="#contact"><span class="glyph glyph-mail" aria-hidden="true"></span></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="navbar-local color-accent theme-dark" style="min-height: 4px">
  </div>
</nav>