<div class="container">
  <section class="section">
    <div class="row section-gallery">
      <!-- .NET Core & Framework -->
      <div class="col-md-6">
        <figure class="media">
          <div class="media-img ratio-2-1">
            <a class="no-outline" href="https://dotnet.github.io/">
              <img src="assets/img/dotnetcore-591-360.png" alt="">
            </a>
          </div>
          <figcaption class="media-caption">
            <h4 class="media-header">
              .NET Core  & .NET Framework
          </h4>
          <div class="media-subheader">
              Cross platform backend systems
          </div>
          </figcaption>
        </figure>
      </div>
      <!-- Front End -->
      <div class="col-md-6">
        <figure class="media">
          <div class="media-img ratio-2-1">
            <a class="no-outline" href="https://dotnet.github.io/">
              <img src="assets/img/dotnetcore-591-360.png" alt="">
            </a>
          </div>
          <figcaption class="media-caption">
            <h4 class="media-header">
              Angular, React & Redux
          </h4>
          <div class="media-subheader">
              Single Page Applications
          </div>
          </figcaption>
        </figure>
      </div>
      <!-- Languages -->
      <div class="col-md-6">
        <figure class="media">
          <div class="media-img ratio-2-1">
            <a class="no-outline" href="https://dotnet.github.io/">
              <img src="assets/img/dotnetcore-591-360.png" alt="">
            </a>
          </div>
          <figcaption class="media-caption">
            <h4 class="media-header">
              C# 7.0, F#, TypeScript & SQL
          </h4>
          <div class="media-subheader">
              Clean and simple code using the latest languages
          </div>
          </figcaption>
        </figure>
      </div>
      <!-- Methodologies -->
      <div class="col-md-6">
          <figure class="media">
            <div class="media-img ratio-2-1">
              <a class="no-outline" href="https://dotnet.github.io/">
                <img src="assets/img/dotnetcore-591-360.png" alt="">
              </a>
            </div>
            <figcaption class="media-caption">
              <h4 class="media-header">
                TDD & BDD
            </h4>
            <div class="media-subheader">
                Test Driven Development with an agile methodology
            </div>
            </figcaption>
          </figure>
        </div>
    </div>
  </section>
</div>