.background-yellow {
    background-color: #f6ef43
}

.logo {
    margin-top: 30px;
    padding-right: 20px;
    max-width: 1000px;
}

.main-text {
    font-family: 'header-font';
    font-size: 20px;
    color: #313030;
    margin: 0;
}

.break {
    color: white;
}

.break-dot {
    margin-left: 20px;
}

.address {
    font-family: 'header-font';
    margin: 10px 15px 10px 45px;
    min-width: 200px;
}

.footer {
    font-family: 'header-font';
    margin: 20px;
    max-width: 480px;
}

@font-face {
    font-family: 'header-font';
    src: url('/assets/fonts/1/Montserrat (body)/Montserrat-Regular.ttf')
}