.background-yellow {
    background-color: #f6ef43
}

.logo {
    margin-top: 30px;
}

.header-test {
    font-family: 'header-font';
    font-size: 20px;
    color: #313030;
    margin: 0;
}

.break {
    color: white;
}

.break-dot {
    margin-left: 20px;
}

hr {
    color: white;
    border: 0.01rem solid;
}

.address {
    font-family: 'header-font';
    margin: 10px 10px 10px 50px;
    min-width: 200px;
}

.footer {
    margin: 10px;
    max-width: 470px;
}

@font-face {
    font-family: 'header-font';
    src: url('/assets/fonts/1/Montserrat (body)/Montserrat-Regular.ttf')
}