---
layout: default
---

<div class="container">
  <img src="assets/img/logo/Logo Files/For Web/png/Color logo - no background.png" class="img-fluid">
  <div class="text-center">
    {% include break.html %}
  </div>
  <br>
  <p class="text-center header-test"><strong>{</strong> A bespoke technology solutions company. <strong>}</strong></p>
  <br>
  <div class="text-center">
    {% include break.html %}
  </div>
  <div class="d-flex flex-row flex-wrap justify-content-around bd-highlight mb-3 header-test">
    <div>
      <div class="d-flex align-items-center">
        {% octicon beaker height:20px class:"align-middle" aria-label:hi %}
        <div class="p-2 bd-highlight">Engineering</div>
      </div>
      <small>A thing</small>
    </div>
    <div class="d-flex align-items-center">
      {% octicon cloud-upload height:20px class:"align-middle" aria-label:hi %}
      <div class="p-2 bd-highlight">
        Cloud
      </div>
    </div>
    <div class="d-flex align-items-center">
      {% octicon git-merge height:20px class:"align-middle" aria-label:hi %}
      <div class="p-2 bd-highlight">
        Automation
      </div>
  </div>
  </div>

</div>

<div class="home">

  {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
    <ul class="post-list">
      {%- for post in site.posts -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>

    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
  {%- endif -%}

</div>